apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.storeName }}-wordpress
  labels:
    app: wordpress
    store: {{ .Values.storeName }}
spec:
  replicas: {{ .Values.wordpress.replicas }}
  selector:
    matchLabels:
      app: wordpress
      store: {{ .Values.storeName }}
  template:
    metadata:
      labels:
        app: wordpress
        store: {{ .Values.storeName }}
    spec:
      containers:
      - name: wordpress
        image: {{ .Values.wordpress.image }}
        env:
        - name: WORDPRESS_DB_HOST
          value: {{ .Values.storeName }}-mariadb:3306
        - name: WORDPRESS_DB_NAME
          value: {{ .Values.mariadb.database }}
        - name: WORDPRESS_DB_USER
          value: {{ .Values.mariadb.user }}
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.storeName }}-db-secret
              key: user-password
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            cpu: {{ .Values.wordpress.resources.requests.cpu }}
            memory: {{ .Values.wordpress.resources.requests.memory }}
          limits:
            cpu: {{ .Values.wordpress.resources.limits.cpu }}
            memory: {{ .Values.wordpress.resources.limits.memory }}
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 180
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 5