apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.storeName }}-wordpress
  labels:
    app: wordpress
    store: {{ .Values.storeName }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: wordpress
    store: {{ .Values.storeName }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.storeName }}-mariadb
  labels:
    app: mariadb
    store: {{ .Values.storeName }}
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  selector:
    app: mariadb
    store: {{ .Values.storeName }}